</div>
<div id="col-right">
<div style="padding: 30px 10px 10px;">
<h2 class="h-text-2">Latest News</h2>
<h3 class="h-text-3">00.00.0000</h3>
<p class="text-2">Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been .</p>
<h3 class="h-text-3">00.00.0000</h3>
<p class="text-2">Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been .</p>
<h3 class="h-text-3">00.00.0000</h3>
<p class="text-2">Lorem Ipsum is simply dummy text of the printing and
typesetting industry. Lorem Ipsum has been .</p>
</div>
<div>&nbsp;</div>
<div style="padding: 5px 10px;">
<h2 class="h-text-2">Contact Info</h2>
</div>
<div
 style="padding: 5px 10px 15px; background: rgb(216, 214, 215) none repeat scroll 0%; -moz-background-clip: initial; -moz-background-origin: initial; -moz-background-inline-policy: initial;">
<p class="text-2"> 00/00 Lorem Ipsum is simply dummy text of the
printing and typesetting.<br>
<br>
E.mail: abc@Lorem Ipsum<br>
<br>
Fax: 000.000.0000<br>
<br>
Phone: 000.000.0000/<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
000.000.0000 </p>
</div>
</div>
</div>
<div id="footer">
<!--DO NOT Remove The Footer Links-->
<!--Designed by--><a href="http://www.htmltemplates.net">
<img src="images/footnote.gif" class="copyright" alt="html templates"></a>
<p>&copy; Copyright 2014. Designed by <a target="_blank"
 href="http://www.htmltemplates.net">htmltemplates.net</a>
<!--DO NOT Remove The Footer Links-->
</p>
<ul class="footer-nav">
  <li><a href="#">Home</a></li>
  <li><a href="#">About us</a></li>
  <li><a href="#">Recent articles</a></li>
  <li><a href="#">Email</a></li>
  <li><a href="#">Resources</a></li>
  <li><a href="#">Links</a></li>
</ul>
</div>
</div>
</body>
</html>
