		<section id="footer">
			<div class="grid no-gutters">
				<div class="unit w-1-2">
					<h3>Dr. Jose Goicoechea</h3>

					<p><em>Department of Chemistry,</em><br>
					<em>Chemistry Research Laboratory,</em><br>
					<em>University of Oxford,</em><br>
					<em>Mansfield Road,</em><br>
					<em>Oxford, OX1 3TA</em> </p>

					<ul>
					  <li>Office Telephone: +44 (0)1865 (2)75961  </li>
					  <li>Lab Telephone: +44 (0)1865 (2)75711</li>
					</ul>

					<p>E-mail Address: <a href="mailto:jose.goicoechea@chem.ox.ac.uk">jose.goicoechea@chem.ox.ac.uk</a></p>
				</div>
				<div class="unit w-1-2">
					<!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2469.6305489438796!2d-1.2529914!3d51.758079!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c6abfd050e7f%3A0xb406c79ee72a36b2!2sChemistry+Research+Laboratory%2C+12+Mansfield+Rd%2C+University+of+Oxford%2C+Oxford%2C+Oxfordshire+OX1+3TA!5e0!3m2!1sen!2suk!4v1410970525122" width="400" height="200" frameborder="0" style="border:0"></iframe> -->
				</div>
			</div>
		</section>

<!-- TODO: countdown easter egg -->