		<section id="footer">
			<div class="grid no-gutters">
				<div class="unit w-1-2">
					<h3>Dr. Jose Goicoechea</h3>

					<p><em>Department of Chemistry,</em><br>
					<em>Chemistry Research Laboratory,</em><br>
					<em>University of Oxford,</em><br>
					<em>Mansfield Road,</em><br>
					<em>Oxford, OX1 3TA</em> </p>

					<ul>
					  <li>Office Telephone: +44 (0)1865 (2)75961  </li>
					  <li>Lab Telephone: +44 (0)1865 (2)75711</li>
					</ul>

					<p>E-mail Address: <a href="mailto:jose.goicoechea@chem.ox.ac.uk">jose.goicoechea@chem.ox.ac.uk</a></p>
				</div>
				<div class="unit w-1-2">
					<img src="http://placehold.it/400x200" alt="Map" />
				</div>
			</div>
		</section>

