
<body class="grid"> 
	
<div id="bigbluebox" >

<div id ="header_menu">

   <div id ="oxfordlogo">
      <a href="http://www.ox.ac.uk"><img src="/images/rectlogo2.jpg" border="0" alt="Oxford University Logo" align="right"></a>
   </div>

   <div id ="group_name">
      <h1>
          The Goicoechea Group
      </h1>
      <h6><A HREF="http://www.chem.ox.ac.uk">Department of Chemistry</A>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp<A HREF="http://www.ox.ac.uk">University of Oxford</A></h6>
   </div>

{% include menu.html %}
</div>

<div id="contentarea" class="grid">
