<nav id="menubar" class="animated">
	<a href="/#">Home</a>
	<a href="/#research">Research</a>
	<a href="/#publications">Publications</a>
	<a href="/#">News</a>
	<a href="/#groupmembers">Group Members</a>
	<a href="/#facilities">Facilities</a>
	<a href="/#joinus">Join the Group</a>
	<a href="/teaching">Teaching</a>
</nav>

<nav id="mobilebar" class="mobileOnly animated" >
	<a href="/#"><i class="fa fa-home fa-fw"></i></a>
	<a href="/#publications"><i class="fa fa-file-text-o fa-fw"></i></a>
	<a href="/#groupmembers"><i class="fa fa-group fa-fw"></i></a>
	<a id="moreButton" href="#"><i class="fa fa-angle-double-down fa-fw"></i></a>
</nav>