<nav id="menubar" class="alpha90bgWhite" data-0="background-color:rgba(255,255,255, 1);" data-200="background-color:rgba(255,255,255, 0.9);">
	<a href="#">Home</a>
	<a href="#">Research</a>
	<a href="#">Publications</a>
	<a href="#">News</a>
	<a href="#">Group Members</a>
	<a href="#">Facilities</a>
	<a href="#">Join the Group</a>
	<a href="#">Teaching</a>
</nav>

<nav id="mobileBar" class="mobileOnly alpha90bgWhite" data-0="background-color:rgba(255,255,255, 1); font-size: 2em;" data-100="background-color:rgba(255,255,255, 0.9); font-size: 1.5em;">
	<a href="#"><i class="fa fa-home fa-fw"></i></a>
	<a href="#"><i class="fa fa-file-text-o fa-fw"></i></a>
	<a href="#"><i class="fa fa-group fa-fw"></i></a>
	<a id="moreButton" href="#"><i class="fa fa-angle-double-down fa-fw"></i></a>
</nav>