<nav id="mobilebar" class="mobileOnly alpha90bgWhite" data-0="background-color:rgba(255,255,255, 1);" data-200="background-color:rgba(255,255,255, 0.9);">
	<a href="#"><img alt="Navigate to home" src="{{ site.url }}/images/home.png"></a>
	<a href="#"><img alt="Navigate to home" src="{{ site.url }}/images/home.png"></a>
	<a href="#"><img alt="Navigate to home" src="{{ site.url }}/images/home.png"></a>
	<a href="#"><img alt="Navigate to home" src="{{ site.url }}/images/home.png"></a>
</nav>
<nav id="menubar" class="alpha90bgWhite" data-0="background-color:rgba(255,255,255, 1);" data-200="background-color:rgba(255,255,255, 0.9);">
	<a href="#">Home</a>
	<a href="#">Research</a>
	<a href="#">Publications</a>
	<a href="#">News</a>
	<a href="#">Group Members</a>
	<a href="#">Facilities</a>
	<a href="#">Join the Group</a>
	<a href="#">Teaching</a>
</nav>