
        <div class="grid tabGroup">
            <ul class="unit w-1-5 tabmenu no-gutters">
                {% for yearObj in site.data.pubs %}
                <li><a href="#">
                    {{ yearObj.year }}
                </a></li>
                {% endfor %}
            </ul>

            <div class="unit w-4-5 tabs prose">
                {% for yearObj in site.data.pubs %}
                <ol class="tab">
                    {% for paper in yearObj.pubs %}
                    <a class="pub" href="{{ paper.link }}">
                        <li>    
                            <div class="title">{{ paper.title }}</div>
                            <div class="journal">{{ paper.journal }}</div>
                            <div class="author">{{ paper.author }}</div>
                        </li>
                    </a>
                    {% endfor %}
                </ol>
                {% endfor %}
            
                <a class="gotoTop mobileOnly" href="#publications">
                    <i class="fa fa-arrow-circle-up fa-3x"></i>
                </a>
            </div>
        </div>

<p>Papers linked from here require subscription access to the appropriate journal.  For university staff or students not on a university provided connection, external access is available via the <a href="http://www.oucs.ox.ac.uk/network/vpn/">VPN Service</a>.</p>