<!DOCTYPE html>
<html>

<head>

    <title>{{ title }}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{site.url}}/style.css" type="text/css">
    <link rel="stylesheet" href="{{site.url}}/notMobileAnimations.css" type="text/css" media="only screen and (min-device-width: 800px)" data-skrollr-stylesheet >
    <link rel="stylesheet" href="{{site.url}}/animations.css" type="text/css" data-skrollr-stylesheet >
    
    <script src="{{site.url}}/js/Modernizr.js"></script>
    <!--[if lt IE 9]>
    <script type="text/javascript">
        IElt9 = true;
    </script>
    <![endif]-->
</head>
