<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <title>{{ page.title }}</title>
            
            {% if page.excerpt %}
            <meta name="description" content="{{ page.excerpt }}">
            {% else %}
            <meta name="description" content="This is a default description">
            {% endif %}
            <link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <div id="container">
            <div id="header"> <img src="{{ site.url }}/images/logo.jpg" alt="" id="logo">
                <h1 id="logo-text">{{ site.CompanyName }}</h1>
                </div>
            {% include nav.html %}
            <div id="site-content">
                <div id="col-left">