
@media screen and (max-width: 568px) {

    /* Gridism will stack units in this range */

	.mobileOnly { display: initial; }
    .notMobileOnly { display: none; }
    
    .tabmenu {
        background: #CCC;
    	box-shadow: 0 0 20px #000;
        border-top: 2px solid #002147;
    }

    .tabmenu > li > a {
        color: #002147;
    }

    .tabmenu > li > a.active {
        border: 2px solid #002147;
        border-radius: 8px;
        background: #EEE;
        z-index: 10;
        position: relative;
    }

}

@media only screen
and (max-device-width : 799px) {
    
body{
/*    Nerf the iPhone's text resizing  */
-webkit-text-size-adjust: none;
}


body, #menubar { min-width: 0; }

h2 { font-size: 1.5em }

.alpha60bgBlackMob {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000, endColorstr=#E5000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000, endColorstr=#E5000000)";
}

.alpha90bgWhiteMob {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
}

#mobilebar {
    @extend .alpha90bgWhiteMob;
	display: block;
	position: fixed;
	z-index: 20;
	top: 0;
	width: 100%;
	padding: 0.4em 0 0.2em;
	text-align: center;
	font-size: 1.5em;
	
  /* To hide the bar when scrolling down */
  -webkit-transition: margin-top 0.25s ease-in-out;
  -moz-transition: margin-top 0.25s ease-in-out;
  -o-transition: margin-top 0.25s ease-in-out;
  transition: margin-top 0.25s ease-in-out;
}

#mobilebar.hidden {
	margin-top: -50px !important;
}
#menubar.hidden {
	margin-top: -200px !important;
}

#menubar {
	// To avoid flash at load, javascript will overwrite this property and also assign the 'hidden' class
	display: none;
}

#mobilebar a { color: #999; }

#skrollr-body { padding-top: 3.875em; }

#menubar { 
	background: white !important;
	height: auto;
    padding: 3.75em 0 1em;
}

#menubar a { 
	display: block;
	float: left;
	width: 49%;
	padding: 0;
}

#menubar a:nth-child(odd) { border-right: 1px solid black; }

#oxLogo { display: none; }
#oxLogoMob { display: inline; }

#topSlider .slideNavBox { display: none; }

#topSlider .caption {
	bottom: 0;
	left: 0;
	right: 0;
}

.content > .left { left: 0.5em; }
.content > .right { right: 0.5em; }

/* This is since the font-size of the i elements is 160px, 10x the default */
.content > i.left { left: 0.05em; }
.content > i.right { right: 0.05em; }

.gotoTop {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0.31em;
    padding-right: 0.31em;
    margin-top: 0.31em;
    border-top: #444 solid 1px;
    color: #666;
}

#groupmembers {
    
    .yearBox {
        $yearboxTopMob : 1em;
        padding: $yearboxTopMob 0 1.8em;
        
        h3 {
            font-size: 1.5em;
        }
        
        .arrow {
            font-size: 1.5em;
            top: $yearboxTopMob/1.5;
        }
        
        .arrow.left {
            left: 20%;
        }

        .arrow.right {
            right: 20%;
        }
    }
    
    .groupDesc {
        padding: 0.5em 0 3%;
        
        .arrow { font-size: 1.0em; }
        h3 { font-size: 1em; }
        .desc {
            font-size: 0.75em;
            padding: 0 !important;
        }
        .groupList {
            font-size: 0.5em;
        }
    }
}

#research2 {
    padding-top: 0;
}

#facilities {
    .slidesjs-pagination {
        font-size: 0.75em;
        li {
            margin: 0 0.5em;
        }
    }   
}

}