
.slidesjs-styles .slidesjs-pagination {
  
  margin: 6px 0 0;
  float: right;
  list-style: none;

  li {
    float: left;
    margin: 0 1px;
  }

  li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background-image: url(/images/pagination.png);
    background-position: 0 0;
    float: left;
    overflow: hidden;
  }

  li a.active,
  li a:hover.active {
    background-position: 0 -13px
  }

  li a:hover {
    background-position: 0 -26px
  }
}

.navbar {
  overflow: hidden
}