---
---

{% include top.html %}

<body>
	
	{% include menu.html %}
	
    <div id="skrollr-body" class="wrap">
        
        <div id="headerarea" class="grid">
            
            <a href="//www.ox.ac.uk/">
				<img id="oxLogo" alt="The University of Oxford" src="{{ site.url }}/images/assets/oxlogo.gif" />
				<img id="oxLogoMob" alt="The University of Oxford" src="{{ site.url }}/images/assets/oxlogomobile.gif" />
			</a>
            
			<div class="unit w-2-3">
	            <h1>The Goicoechea Group</h1>
            
	            <h2>Department of Chemistry</h2>
			</div>
            
        </div>
        
		<section id="contentSection">
			<div class="box grid">
				<div class="unit whole prose">
					{{ content }}
				</div>
			</div>
		</section>

		{% include footer.html %}
		
    </div>
	
{% include bottom.html %}