---
section: publicationsExpanded
---

<!-- TODO: Sort out Mark's horrible CSS -->

<h2>Selected Recent Publications</h2>

{% comment %}
<ol>
{% for yearObj in site.data.pubs %}
    <ol>
        <li class="pub">
            <span class="title">&ldquo;{{ paper.title }}&rdquo;</span>
            <span class="authors">{{ paper.author }}</span>
            <span class="journal">{{ paper.journal }}</span>
            <span class="year">{{ paper.year }}</span>
            <span class="volume">{{ paper.volume }}</span>
            <span class="pages">{{ paper.pages }}</span>
            <a href="{{ paper.link }}"> <img src="{{site.url}}/images/pdflogo.jpg" alt="View Article"></a>
            {% if paper.notes %}
            <p class="pubNotes">{{ paper.notes }}</p>
            {% endif %}
        </li>
{% endfor %}
</ol>
{% endcomment %}

        <div class="grid tabGroup">
            <ul class="unit w-1-5 tabmenu no-gutters">
                {% for yearObj in site.data.pubs %}
                <li><a href="#">
                    {{ yearObj.year }}
                </a></li>
                {% endfor %}
            </ul>

            <div class="unit w-4-5 tabs prose">
                {% for yearObj in site.data.pubs %}
                <ol class="tab">
                    {% for paper in yearObj.pubs %}
                    <li>{{ paper.title }}</li>
                    {% endfor %}
                </ol>
                {% endfor %}
            
                <a class="gotoTop mobileOnly" href="#researchDetails">
                    <i class="fa fa-arrow-circle-up fa-3x"></i>
                </a>
            </div>
        </div>

Papers linked from here require subscription access to the appropriate journal.  For university staff or students not on a university provided connection, external access is available via the <a href="http://www.oucs.ox.ac.uk/network/vpn/">VPN Service</a>.