#headerarea {
    -skrollr-animation-name: header;
    }
#slider > img, #slider > div > img {
    -skrollr-anchor-target: '#slider';
    -skrollr-animation-name: sliderParallax;
}
.content > .left {
    -skrollr-animation-name: leftAppear;
}
.content > .right {
    -skrollr-animation-name: rightAppear;
}
#mobilebar { -skrollr-animation-name: mobilebar; }

@-skrollr-keyframes header {
    top {
        padding-top: 7.1%;
        padding-bottom: 4.1%;
    }
    50-top-center {
        padding-top: 1%;
        padding-bottom: 10.2%;
    }
}

@-skrollr-keyframes sliderParallax {
    bottom-top {
        transform: translateY(-20%);
    }
    top-bottom {
        transform: translateY(20%);
    }
}

@-skrollr-keyframes boxAppear {
    -5p-bottom-top {
        opacity: 0;
        transform: translateY(150px);
    }
    -30p-bottom-top {
        opacity: 1;
        transform: translateY(0px);
    }
}

@-skrollr-keyframes leftAppear {
    -5p-bottom {
        opacity: 0;
        transform: translate(-25%, -150px);
    }
    -30p-bottom {
        opacity: 1;
        transform: translate(0%, 0px);
    }
}

@-skrollr-keyframes rightAppear {
    -5p-bottom {
        opacity: 0;
        transform: translate(25%, -150px);
    }
    -30p-bottom {
        opacity: 1;
        transform: translate(0%, 0px);
    }
}

@-skrollr-keyframes mobilebar {
    0 {background-color:rgba(255,255,255, 1); font-size: 2em;}
    100 {background-color:rgba(255,255,255, 0.9); font-size: 1.5em;}
}
