
body {
   font: normal 100% "Geneva", Helvetica, sans-serif;
   color: #FFF;
   min-width: 750px;
   -webkit-font-smoothing: antialiased;
   background: url('/images/bgtile.png');
}

#skrollr-body {
    padding-bottom: 5em;
    background: transparent repeat-x url('/images/bg.png');
    overflow: hidden;
}

section { color: #002147; }

a { text-decoration: none; }
a:hover { text-decoration: underline; }

#skrollalert {color: black;}
.skrollr #skrollalert { display: none; }

.mobileOnly { display: none; }

img { max-width: 100%; }

h1 { text-weight: bold; font-size: 24pt; margin-bottom: 10px; }
h2 { font-size: 2.5em; margin-bottom: 10px; }
h3 { font-size: 16pt; margin-bottom: 10px; }
h4 { font-size: 14pt; margin-bottom: 10px; }
p { margin-bottom: 0.625em; }
strong { font-weight: bold; }
em { font-style: italic; }

.box, .expandSection {
	color: #002147;
	box-shadow: 0 0 20px #000;
    border: 3px solid #002147;
    background: #EEE;
}

.expandable {
    position: relative;
    z-index: 1;
}
.expandSection {
    z-index: 0;
    border-top: none;
}

#menubar {
    position: fixed;
	z-index: 20;
    top: 0;
    padding-top: 1em;
    height: 2.1875em;
    width: 100%;
	min-width: 750px;
    display: block;
    text-align: center;
    
    /* To hide the bar when scrolling down */
    -webkit-transition: margin-top 0.25s ease-in-out;
    -moz-transition: margin-top 0.25s ease-in-out;
    -o-transition: margin-top 0.25s ease-in-out;
    transition: margin-top 0.25s ease-in-out;
}

#menubar.hidden {
    margin-top: -3.1875em !important;
}

#menubar a {
    text-decoration: none;
    color: #002147;
    font-size: 0.875em;
    padding: 0 10px;
}

#headerarea {
    padding: 7.1% 7.1% 4.1%;
}

#headerarea img {
    float: right;
}

#oxLogoMob { display: none; }

#headerarea h1 { font-size: 2.188em; } /*~ 35px*/

#headerarea h2 { font-size: 22px; text-align: right;}

.slider {
    width: 100%;
	display: none;
	position: relative;
}

#topSlider .slidesjs-container {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
}

.slider a {
	text-decoration: none;
	color: white;
}

.slider .slideNavBox {
	color: white;
	position: absolute;
	padding: 0.9375em 0.625em 0.625em; /* 15px 10px 10px */
	bottom: 24px; left: 0;
	z-index: 15
}

.slider .caption {
    color: white;
	position: absolute;
	bottom: 0;
	right: 0; 
	z-index: 15;
	padding: 30px;
}

#facilities .slidesjs-next, #facilities .slidesjs-previous {
    position: absolute;
/*  Width is positioned by javascript */
    z-index: 20;
    font-size: 30px;
}
#facilities .slidesjs-next {
    right: 10px;
} 
#facilities .slidesjs-previous {
    left: 10px;
}

#welcome > .content > h2 { 
    color: #FFF;
    text-shadow: 0.04em 0.05em #000;
}

.content > .right, .content > .left {
	position: absolute;
    display: block;
}

.content > i {
    font-size: 160px;
}

.content > .right, .content > .left { top: -196px; }
.content > h2.left, .content > h2.right { top: -108px; }

.content > .right { right: 0; }
.content > .left { left: 0; }

.content {
    position: relative;
    margin-top: 250px !important;
}

.researchBubble img, .researchBubble h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#researchBubbles a { text-decoration: none; color: #002147; }

#research2 {
    padding-top: 3em;
}

#publications > div > div > div img {
    margin: 0 auto 1em;
    border: 1px solid black;
    display: block;
}

#publications > div > div > div p {
    font-style: italic;
    font-size: 0.75em;
    margin: 0;
}

#publications > div > div > div a {
    color: #002147;
    text-decoration: none;
}
    
#publications > div > div > div .pubtitle {
    font-weight: bold;
    text-align: justify;
}

#publications > div > div > div .pubdate {
    float: right;
}

a.expandSection {
    display: table;
    overflow: hidden;
    
	text-align: center;
	position: relative;
	height: 4em;
}
a.expandSection span {
    display: table-cell;
    vertical-align: middle;
}
a.expandSection i {
	position: absolute;
	left: 1em;
}

.tabmenu > li > a {
    display: block;
    padding: 10px;
    color: #002147;
}

.tabmenu > li > a.active {
    border: 3px solid #002147;
    border-right: none;
    margin-right: -3px;
    border-radius: 8px 0 0 8px;
    background: #EEE;
    box-shadow: -10px 0 6px #444;
    z-index: 10;
    position: relative;
}

.tabs > .tab { display: none; }
.tabs > .tab.active { display: block; }

#researchDetails.hidden {
    height: 0px;
    overflow: hidden;
}

#groupmembers .fullHolderContent {
    display: none;
}

.fullHolder > img {
    width: 100%;
}

.groupDesc {
    color: white;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 1em 0 1.8em;
}

.groupDesc a { color: white; }

.groupDesc .arrow {
    position: absolute;
    display: block;
    font-size: 2em;
}

.groupDesc .arrow.left {
    left: 2%;
}

.groupDesc .arrow.right {
    right: 2%;
}

.groupDesc h3 {
    display: block;
    text-align: center;
    margin: 0;
}

.groupDesc .groupList {
    text-align: center;
    font-size: 0.75em;
}
.groupDesc .groupList a {
    color: #AAA;
}
.groupDesc .groupList a {
    padding: 0 0.5em;
}

.alpha60bgBlack {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(0, 0, 0) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000, endColorstr=#E5000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#E5000000, endColorstr=#E5000000)";
}

.alpha90bgWhite {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.9);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99ffffff, endColorstr=#99ffffff)";
}
