
body {
   font-family:"Geneva", Helvetica, sans-serif;
   font-size: 12pt;
   color: #FFF;
}

h1 { text-weight: bold; font-size: 20pt; }
h2 { font-size: 18pt; }
h3 { font-size: 16pt; }
h4 { font-size: 14pt; }

.box { color: #002147; }

#menubar {
    position: fixed;
    top: 0;
    padding-top: 15px;
    height: 35px;
    width: 100%;
    display: block;
    background: #FFF;
    text-align: center;
}

#menubar a {
    text-decoration: none;
    color: #002147;
    font-size: 14px;
    padding: 0 10px;
}

#container {
    padding-top: 80px;
    background: #002147;
}

#headerarea {
    padding: 70px 60px 64px;
}

#headerarea img {
    float: right;
}

#headerarea h1 { font-size: 35px; }
#headerarea h2 { 
    font-size: 22px;
    margin: 10px 0 0 282px;
}