@media only screen
and (max-device-width : 480px) {

	.mobileOnly { display: block; }

}


@media only screen
and (max-device-width : 799px) {

body, #menubar { min-width: 0; }

h2 { font-size: 1.5em }
		
#mobileBar {
	display: block;
	position: fixed;
	z-index: 20;
	top: 0;
	width: 100%;
	padding: 0.4em 0 0.2em;
	text-align: center;
	font-size: 1.5em;
}

#mobileBar a { color: #999; }

#skrollr-body { padding-top: 3.875em; }

#menubar { display: none; }

#menubar { 
	background: white !important;
	height: auto;
    padding: 3.75em 0 1em;
}

#menubar a { 
	display: block;
	float: left;
	width: 49%;
	padding: 0;
}

#menubar a:nth-child(odd) { border-right: 1px solid black; }

#slider .slideNavBox { display: none; }

#slider .caption {
	bottom: 0;
	left: 0;
	right: 0;
}

.content > h2 { left: 1em; }
.contentL > h2 { right: 1em; }

#research2 {
    padding-top: 0;
}

}