@media only screen
and (max-width : 480px) {

	.mobileOnly { display: initial; }

}

@media only screen
and (max-device-width : 799px) {

body, #menuBar { min-width: 0; }

h2 { font-size: 1.5em }
		
#mobileBar {
	display: block;
	position: fixed;
	z-index: 20;
	top: 0;
	width: 100%;
	padding: 0.4em 0 0.2em;
	text-align: center;
	font-size: 1.5em;
}

#mobileBar a { color: #999; }

#skrollr-body { padding-top: 3.875em; }

#menuBar { display: none; }

#menuBar { 
	background: white !important;
	height: auto;
    padding: 3.75em 0 1em;
}

#menuBar a { 
	display: block;
	float: left;
	width: 49%;
	padding: 0;
}

#menuBar a:nth-child(odd) { border-right: 1px solid black; }

#oxLogo { display: none; }
#oxLogoMob { display: inline; }

#slider .slideNavBox { display: none; }

#slider .caption {
	bottom: 0;
	left: 0;
	right: 0;
}

.content > .left { left: 0.5em; }
.content > .right { right: 0.5em; }

/* This is since the font-size of the i elements is 160px, 10x the default */
.content > i.left { left: 0.05em; }
.content > i.right { right: 0.05em; }

#research2 {
    padding-top: 0;
}

.gotoTop {
    display: block;
    width: 100%;
    text-align: right;
    padding-top: 0.31em;
    padding-right: 0.31em;
    margin-top: 0.31em;
    border-top: #444 solid 1px;
    color: #666;
}

}