---
---

{% include top.html %}


<body>
	
	{% include menu.html %}
	
    <div id="skrollr-body" class="wrap">
        
        <div id="headerarea" class="grid">
            
            <a href="//www.ox.ac.uk/">
				<img id="oxLogo" alt="The University of Oxford" src="{{ site.url }}/images/oxlogo.gif" />
				<img id="oxLogoMob" alt="The University of Oxford" src="{{ site.url }}/images/oxlogomobile.gif" />
			</a>
            
			<div class="unit w-2-3">
	            <h1>The Goicoechea Group</h1>
            
	            <h2>Department of Chemistry</h2>
			</div>
			
        </div>
        
		<!-- Aspect ratio is width / height -->
        <div id="slider" data-aspectratio=2.6667 data-aspectratiomobile=1.3333>
			<div>
                <span class="caption alpha60bgBlack">There's lots and lost and lots and lots and lots of stuff in here</span>
                <img alt="Slideshow slide" src="http://lorempixel.com/800/800">
            </div>
			<img alt="Slideshow slide" src="http://lorempixel.com/400/400">
			<img alt="Slideshow slide" src="http://lorempixel.com/800/300">
            
			<div class="slidesjs-navigation slideNavBox alpha60bgBlack">
				<a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-left fa-2x"></i></a>
			    <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-right fa-2x"></i></a>
			</div>
		</div>
  
        <section id="welcome" class="wrap">
			
            <div class="box grid content">
				
				<img class="right" src="{{ site.url }}/images/jose.png" alt="Jose the benevolent" id="jose" />
				
	            <h2 class="left">Welcome</h2>
			
                <div class="unit whole">
                    	
                	{{ content }}
					
                </div>
            </div>

        </section>
        
        <section id="research" data-menu-offset="-250">
			
			<div class="grid content">
            
	            <img class="left" src="{{ site.url }}/images/flask.png" alt="Conical flask" id="flask" />
            
	            <h2 class="right">Research <br class="mobileOnly">Interests</h2>
            
	            <nav id="researchBubbles" class="unit whole grid">
                
	                <a id="research1" href="#" class="researchBubble unit w-1-3 animated">
	                    <img src="{{ site.url }}/images/research1.png" alt="main-group and transition-metal cluster chemistry" />
	                    <h3>Main-group and transition-metal cluster chemistry</h3>
	                </a>
                
	                <a id="research2" href="#" class="researchBubble unit w-1-3 animated">
	                    <img src="{{ site.url }}/images/research2.png" alt="main-group and transition-metal cluster chemistry" />
	                    <h3>Phospha-organic chemistry</h3>
	                </a>
                
	                <a id="research3" href="#" class="researchBubble unit w-1-3 animated">
	                    <img src="{{ site.url }}/images/research3.png" alt="main-group and transition-metal cluster chemistry" />
	                    <h3>Redox active "non-innocent" ligand systems</h3>
	                </a>
                
	            </nav>
            
			</div>
			
        </section>
        
        <section id="publications" data-menu-offset="-250">
            
            <div class="grid content">
            
                <h2 class="left">Highlighted <br class="mobileOnly">Publications</h2>
                
                <i class="fa fa-file-text-o right"></i>
            
                <!-- This will be done in a clever, Jekylly way later on -->
            
    			<div class="unit whole box">
    	            <ul>
    	                <li>
    	                    <img src="{{ site.url }}/images/pub1.png" alt="pub1" />
    	                    <span class="pubtitle">The publication title</span>
    	                    <span class="pubdate">The publication date</span>
    	                </li>
    	            </ul>
            
    	            <ul>
    	                <li>
    	                    <img src="{{ site.url }}/images/pub1.png" alt="pub1" />
    	                    <span class="pubtitle">The publication title</span>
    	                    <span class="pubdate">The publication date</span>
    	                </li>
    	            </ul>
            
    	            <ul>
    	                <li>
    	                    <img src="{{ site.url }}/images/pub1.png" alt="pub1" />
    	                    <span class="pubtitle">The publication title</span>
    	                    <span class="pubdate">The publication date</span>
    	                </li>
    	            </ul>
            
    	            <ul>
    	                <li>
    	                    <img src="{{ site.url }}/images/pub1.png" alt="pub1" />
    	                    <span class="pubtitle">The publication title</span>
    	                    <span class="pubdate">The publication date</span>
    	                </li>
    	            </ul>

            
    	            <!-- end clever Jekylly bit -->
            
    	            <a class="expandSection" href="#">
    	                Show all
    	            </a>
                
                </div>
				
			</div>
            
        </section>
        
    </div>
	
	<script src="/scripts.js"></script>
		
</body>

</html>
