---
---

{% include top.html %}


<body class="skrollrMe mainpage">
    
    {% include menu.html %}
    
    <div id="skrollr-body" class="wrap">
        
        <div id="headerarea" class="grid">
            
            <a href="//www.ox.ac.uk/">
                <img id="oxLogo" alt="The University of Oxford" src="{{ site.url }}/images/oxlogo.gif" />
                <img id="oxLogoMob" alt="The University of Oxford" src="{{ site.url }}/images/oxlogomobile.gif" />
            </a>
            
            <div class="unit w-2-3">
                <h1>The Goicoechea Group</h1>
            
                <h2>Department of Chemistry</h2>
            </div>
            
        </div>
        
        <!-- Aspect ratio is width / height -->
        <div id="topSlider" class="slider slidesjs-styles" data-aspectratio=2.6667 data-aspectratiomobile=1.3333>
            <div>
                <span class="caption">There's lots and lost and lots and lots and lots of stuff in here</span>
                <img alt="Slideshow slide" src="/images/boat1.jpg">
            </div>
            <img alt="Slideshow slide" src="/images/boat2.jpg">
            
            <div class="slidesjs-navigation slideNavBox">
                <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="fa fa-chevron-left fa-2x"></i></a>
                <a href="#" class="slidesjs-next slidesjs-navigation"><i class="fa fa-chevron-right fa-2x"></i></a>
            </div>
        </div>
        <!-- TODO: Make news page -->
        
        <section id="welcome" class="wrap">
            
            <div class="box grid content">
                
                <img class="right" src="{{ site.url }}/images/jose.png" alt="Jose the benevolent" id="jose" />
                
                <h2 class="left">Welcome</h2>
            
                <div class="unit whole">
                    {{ site.frontpage | where:"section","welcome" }}
                </div>
            </div>

        </section>
        
        <!-- TODO: make these more obviously clickable -->
        
        <section id="research" data-menu-offset="-250">
            
            <div class="grid content">
            
                <i class="fa fa-flask left"></i>
            
                <h2 class="right">Research <br class="mobileOnly">Interests</h2>
            
                <nav id="researchBubbles" class="unit whole grid">
                
                    <a id="research1" href="#researchDetails" class="researchBubble unit w-1-3 hoverPulse">
                        <img src="{{ site.url }}/images/research1.png" alt="main-group and transition-metal cluster chemistry" />
                        <h3>Main-group and transition-metal cluster chemistry</h3>
                    </a>
                
                    <a id="research2" href="#researchDetails" class="researchBubble unit w-1-3 hoverPulse">
                        <img src="{{ site.url }}/images/research2.png" alt="main-group and transition-metal cluster chemistry" />
                        <h3>Phospha-organic chemistry</h3>
                    </a>
                
                    <a id="research3" href="#researchDetails" class="researchBubble unit w-1-3 hoverPulse">
                        <img src="{{ site.url }}/images/research3.png" alt="main-group and transition-metal cluster chemistry" />
                        <h3>Redox active "non-innocent" ligand systems</h3>
                    </a>
                
                </nav>
            
            </div>
            
        </section>
        
        <section id="researchDetails" data-menu-offset="-80" class="tabgroup grid wider">
            
            <ul class="unit w-1-5 tabmenu no-gutters">
                <li><a href="#" id="researchLink1">
                    {% for frontSec in site.frontpage %}
                    {% if frontSec.section == "research1" %}
                    {{ frontSec.title }}
                    {% endif %}
                    {% endfor %}
                </a></li>
                <li><a href="#" id="researchLink2">
                    {% for frontSec in site.frontpage %}
                    {% if frontSec.section == "research2" %}
                    {{ frontSec.title }}
                    {% endif %}
                    {% endfor %}
                </a></li>
                <li><a href="#" id="researchLink3">
                    {% for frontSec in site.frontpage %}
                    {% if frontSec.section == "research3" %}
                    {{ frontSec.title }}
                    {% endif %}
                    {% endfor %}
                </a></li>
            </ul>

            <div class="box unit w-4-5 tabs">
                <div class="tab prose">{{ site.frontpage | where:"section","research1" }}</div>
                <div class="tab active prose">{{ site.frontpage | where:"section","research2" }}</div>
                <div class="tab prose">{{ site.frontpage | where:"section","research3" }}</div>
            
            <a class="gotoTop mobileOnly" href="#researchDetails">
                <i class="fa fa-arrow-circle-up fa-3x"></i>
            </a>
            
        </div>
            
        </section>
        
<!--TODO: Groupmembers jekylling -->
        <section id="groupmembers" class="fullscreen">
            
            <div class="grid content">
                <i class="fa fa-group left"></i>
        
                <h2 class="right">Group <br class="mobileOnly">Members</h2>
            </div>
            
            <div class="box fullHolder">
                <img src="/images/groupphoto.jpg" alt="The group" class="slideImg" />
                <div class="fullHolderContent">

                    <div class="groupDesc">
                        
                        <div>
                            <a href="#" class="arrow left"><i class="fa fa-chevron-left"></i></a>
                            <a href="#" class="arrow right"><i class="fa fa-chevron-right"></i></a>
                        
                            <h3 class="person">Jose Goecochia</h3>
                        </div>
                        
                        
<!-- TODO: Generate the following with Jekyll -->
<!--TODO: Add previous years -->
                        <div class="grid">
                            <ul class="desc unit whole">
                                <li data-person="Gabriela Espinoza-Quintero">
                                    Gaby is from Mexico and completed an undergraduate course at Universidad de las Américas, Puebla. She is in the third year of her D.Phil. She is researching the reactivity of group 14 & 15 Zintl anions towards organometallic complexes. She enjoys playing drums, capoeira and sculpting marble figures of legendary Mexican singers in her free time. 
                                </li>
                                <li data-person="Jose Goicoechea">
                                    Jose carried out his undergraduate degree at the University of Zaragoza in his home country of Spain. After a brief stint as an Erasmus student at the University of Cambridge with Professor Paul Raithby, he began his Ph.D work at the University of Bath under the supervision of Mike Whittlesey. He completed his thesis in 2003 on the synthesis and reactivity of novel water-soluble ruthenium (II) phosphine complexes. A postdoctoral position with Professor Slavi Sevov at the University of Notre Dame followed (2003-2006) exploring the reactivity of anionic deltahedral Zintl ions in solution.
                                    <br>
                                    Jose was appointed to a University Lectureship in Inorganic Chemistry at the University of Oxford on October 1st 2006.
                                </li>
                                <li data-person="Charles Baynham">
                                    Charles has been described by some people as an "honorary" member of the group. This means that he hangs around while the rest of the group is drinking often enough that they have come to accept him. 
                                </li>
                            </ul>
                        </div>
                        
                        <nav class="groupList">
                            <a href="#">Gabriela Espinoza-Quintero</a>
                            <a href="#">Jose Goecochia</a>
                            <a href="#">Charles Baynham</a>
                        </nav>

                    </div>
                </div>
                
            </div>
        </section>
        
<!--TODO: Finish publications jekylling. I.E. highlighted op four pubs -->
        <section id="publications" data-menu-offset="-250">
            
            <div class="grid content">
            
                <h2 class="left">Highlighted <br class="mobileOnly">Publications</h2>
                
                <i class="fa fa-file-text-o right"></i>
            
                <!-- White box -->
                <div class="unit whole box expandable">
                    <!-- The expandable class will cause the children ".shrunk" and ".expanded"
                        to toggle visibility when the sibling or child ".expandSection" is clicked.
                         Child ".expandSection"s take priority, then siblings are searched for -->
                    
                    <div class="shrunk">
                        
                        <!-- This will be done in a clever, Jekylly way later on -->
                        
                        <!-- Row one -->
                        <div class="grid">
                            <a href="#" class="unit half hoverPulse">
                                <img src="{{ site.url }}/images/TOC.png" alt="pub1" />
                                <p class="pubtitle">Synthesis and Characterization of [Ru@Ge12]3–: An Endohedral 3-Connected Cluster</p>
                                <p><span class="pubjournal">Nature Photonics</span><span class="pubdate">30th December, 2013</span></p>
                            </a>
                    
                            <a href="#" class="unit half hoverPulse">
                                <img src="{{ site.url }}/images/TOC.png" alt="pub1" />
                                <p class="pubtitle">Synthesis and Characterization of [Ru@Ge12]3–: An Endohedral 3-Connected Cluster</p>
                                <p><span class="pubjournal">Nature Photonics</span><span class="pubdate">30th December, 2013</span></p>
                            </a>
                        </div>
                    
                        <!-- Row two -->
                        <div class="grid">
                            <a href="#" class="unit half hoverPulse">
                                <img src="{{ site.url }}/images/TOC.png" alt="pub1" />
                                <p class="pubtitle">Synthesis and Characterization of [Ru@Ge12]3–: An Endohedral 3-Connected Cluster</p>
                                <p><span class="pubjournal">Nature Photonics</span><span class="pubdate">30th December, 2013</span></p>
                            </a>
                    
                            <a href="#" class="unit half hoverPulse">
                                <img src="{{ site.url }}/images/TOC.png" alt="pub1" />
                                <p class="pubtitle">Synthesis and Characterization of [Ru@Ge12]3–: An Endohedral 3-Connected Cluster</p>
                                <p><span class="pubjournal">Nature Photonics</span><span class="pubdate">30th December, 2013</span></p>
                            </a>
                        </div>
                    </div>
                    
                    <div class="expanded">
                        
                        {{ site.frontpage | where:"section","publications" }}
                        
                    </div>
                    <!-- end clever Jekylly bit -->
                </div>
                
                <a class="expandSection unit" href="#">
                    <i class="fa fa-arrow-down fa-3x"></i>
                    <span>Show all</span>
                </a>
                
            </div>
            
        </section>
        
<!--TODO: Facilities jekylling -->
        <section id="facilities">
            
            <div class="grid content">
                
                <i class="fa fa-university left"></i>
                
                <h2 class="right">Facilities</h2>
            
            <!-- MAYBE: intercept left/right scrolls -->
            
            </div>
            
            <div class="slider box">
                <div>
                    <span class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque distinctio voluptatibus corporis reiciendis deleniti maiores in itaque? Laudantium, quae, tenetur, ullam voluptatibus velit eos iusto consequatur quisquam placeat unde fuga.</span>
                    <img alt="Slideshow slide" src="/images/boat1.jpg">
                </div>
                <img alt="Slideshow slide" src="/images/boat2.jpg">
                <div>
                    <span class="caption">A final slide to test this properly.</span>
                    <img alt="Slideshow slide" src="/images/boat1.jpg">
                </div>
                
                <a href="#" class="slidesjs-previous slidesjs-navigation">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-stack-1x fa-chevron-left" style="color: black; font-size: 45px"></i>
                      <i class="fa  fa-stack-1x fa-chevron-left" style="font-size: 40px"></i>
                    </span>
                </a>
                <a href="#" class="slidesjs-next slidesjs-navigation">
                    <span class="fa-stack fa-lg">
                      <i class="fa fa-stack-1x fa-chevron-right" style="color: black; font-size: 45px"></i>
                      <i class="fa  fa-stack-1x fa-chevron-right" style="font-size: 40px"></i>
                    </span>
                </a>
                
				<ul class="slidesjs-pagination slidesjs-navigation">
					<li><a href="#">Writeup area</a></li>
					<li><a href="#">Lab</a></li>
					<li><a href="#">Mass Spectrometry</a></li>
				</ul>
            </div>

        </section>
        
        <section id="joinus" data-menu-offset="-250">
            <div class="content grid">
                
                <h2 class="left">Join the <br class="mobileOnly">Group</h2>
                <i class="right fa fa-graduation-cap"></i>
                
                <div class="box unit whole prose">
                    {{ site.frontpage | where:"section","join-the-group" }}
                </div>
                
            </div>
        </section>

        {% include footer.html %}
        
    </div>
    
{% include bottom.html %}
