
#menubar { -skrollr-animation-name: menuFlick; }

@-skrollr-keyframes menuFlick {
    0 {
        font-size: 1.2em;
        top: 100%;
        transform: translateY(-3.1875em);
        background-color: rgba(255,255,255, 1);
    }
    20 {
        transform: translateY(0em);
        top: 100%;
    }
    21 {
        font-size: 0.875em;
        top: 0%;
        transform: translateY(-3.1875em);
    }
    200 {
        background-color: rgba(255,255,255, 0.9);
        transform: translateY(0em);
    }
}